html {
	/*scroll-behavior: smooth;*/
	
}

.bg-group {
  background: url("/group.jpg") center center;
	background-size:cover;
  display: none;
}

.container {
    max-width: 960px;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}