:root {
    --main-accent: #F65A81;
    --main-accent-dark: #E93B67;
    
    --main-bg: /*#2e3261;*/#E5E5E5;
    --main-text: rgb(0,0,0);
    --main-bg-light: rgb(50,50,50);
    --main-bg-black: #0C0B07;
}

a {
    color : var(--main-accent);
}

.logo {
    position: relative;
}

a:hover {
    color : var(--main-accent-dark);
}

body {
    background-color: var(--main-bg);
}

.themeText{
    color: var(--main-accent); 
}

.contact {
    opacity: 1;
    transition: 0.1s ease;
}

.column:hover .contact {
    opacity: 0.6;
}

.column:hover .contact-text{
    color: var(--main-accent);
}

#mapcontainer #marker{
    position: absolute;   
    top: 50%;   
    left: 50%;
    width: 100px; 
    height: 100px; 
    margin: -50px;
    border-radius: 50px;
}

#mapcontainer{
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
}

p{
    color: var(--main-text);
}

time {
    color: var(--main-text);
}

strong {
    color: var(--main-text);
}

div {
    color: var(--main-text);
}

.has-text-grey-dark{
    color: var(--main-text) !important;
}

.has-background-grey-darker{
    background-color: var(--main-bg-black) !important;
}

.content h3{
    color: var(--main-text);
}

.tabs a {
    color: var(--main-text);
}

.tabs a:hover {
    color: var(--main-accent-dark);
}

.tabs li:hover a{
    border-bottom-color: var(--main-accent-dark);
}

.tabs li.is-active a{
    border-bottom-color: var(--main-accent);
    color: var(--main-accent);
}

.title {
    color: var(--main-text);
}

.button.is-link.is-outlined{
    border-color: var(--main-accent);
    color: var(--main-accent);
}

.button.is-link.is-outlined:hover{
    background-color: var(--main-accent);
    border-color: var(--main-accent);
}

.button.is-link.is-outlined[disabled], fieldset[disabled] .button.is-link.is-outlined{
    border-color: var(--main-accent);
    color: var(--main-accent);
}

.button.is-link.is-outlined[disabled]:hover, fieldset[disabled] .button.is-link.is-outlined:hover{
    border-color: var(--main-accent);
    color: white;
}

